{% extends 'base.html.twig' %}

{% block body %}
    <!-- Home -->
    <div class="home login">
        {% block flashMessage %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="container alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        <div class="background_image parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/spotify_device.jpg') }}" data-speed="0.6"></div>
        <div class="home_container login_container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card text-center">
                            <h3 class="card-header">
                                {% trans %}Connexion à Spotify{% endtrans %}
                            </h3>
                            <div class="card-body">
                                <h5 class="card-title">{% trans %}Connectez-vous à Spotify pour continuer l'opération{% endtrans %}</h5>
                                <div class="button_fill shows_button">
                                    <a href="{{ spotify_auth_url }}">{% trans %}Connexion{% endtrans %}  <i class="fa fa-spotify" aria-hidden="true"></i> </a>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                {% trans %}Ce site utilise <a href="https://developer.spotify.com/discover/">l'API mise à disposition par Spotify</a>{% endtrans %}
                            </div>
                        </div>

                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="ui error message">{{ flashMessage }}</div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="ui error message">{{ flashMessage }}</div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}