<!DOCTYPE html>
<html lang="en">
<head>
<title>About us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="My Podcast template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/about.css">
<link rel="stylesheet" type="text/css" href="styles/about_responsive.css">
{% block favicon %}
	{% embed "favicon.html.twig" %}{% endembed %}
{% endblock %}
<script src="https://kit.fontawesome.com/9a43e2d654.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="super_container">

	<!-- Header -->
	{% block header %}
		{% embed "header.html.twig" %}{% endembed %}
	{% endblock %}

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg" data-speed="0.8"></div>
		<div class="home_container d-flex flex-column align-items-center justify-content-center">
			<div class="home_content">
				<div class="home_title"><h1>À propos</h1></div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content text-center">
						<div class="section_title text-center"><h1>Découvrez chart <span>playlister</span></h1></div>
						<div class="intro_text text-center">
							<p>Chart playlister analyse des sites de classement musicaux et crée des playlists basées sur ces classements.</p>
							<p>Le site analysé pour l'instant est Billboard, et les playlists sont créées sur Spotify.</p>
							<p>Vous pouvez également utiliser l'outil playlister de la page d'accueil afin de scanner une chart Billboard en y entrant son url.</p>
						</div>
						<div class="button_fill intro_button"><a href="{{ path('charts') }}">Voir les Charts</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/milestones.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title light text-center"><h1>Fun Facts</h1></div>
				</div>
			</div>
			<div class="row milestones_row">
							
				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="{{ song_count }}">0</div>
							<div class="milestone_icon"><img src="images/music-note.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Chansons</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="{{ artist_count }}">0</div>
							<div class="milestone_icon"><img src="images/singer.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Artistes</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="{{ chart_count }}">0</div>
							<div class="milestone_icon"><img src="images/chart.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Chart</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="{{ playlist_count }}">0</div>
							<div class="milestone_icon"><img src="images/playlist.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Playlists</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{#	<!-- About -->#}

{#	<div class="about">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col">#}
{#					<div class="about_container d-flex flex-lg-row flex-column align-items-start justify-content-start">#}
{#						<div class="about_content">#}
{#							<div class="section_title"><h1>A pr</h1></div>#}
{#							<div class="about_text">#}
{#								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a bibendum sem. Fusce dignissim et diam quis pretium.  Etiam efficitur semper accumsan. Sed et dui aliquet, ultrices tellus non, sagittis magna. Nullam justo quam, vestibulum non magna et, tempus tincidunt est. Ut laoreet magna ac luctus lacinia. Aliquam eget neque turpis. Phasellus nibh ex, tristique a magna ac, convallis tincidunt diam. Nulla facilisi. Phasellus porta sapien sit amet tortor rhoncus mattis.</p>#}
{#							</div>#}
{#							<div class="social">#}
{#								<ul class="d-flex flex-row align-items-start justify-content-start">#}
{#									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>#}
{#									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>#}
{#								</ul>#}
{#							</div>#}
{#						</div>#}
{#						<div class="about_image"><img src="images/man.png" alt=""></div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/newsletter.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title light text-center"><h1>Rejoindre la Newsletter</h1></div>
					<div class="newsletter_text text-center">
						<p>Peut-être qu'un jour j'en aurais une. Mais ca m'étonnerait : ca fait chier.</p>
					</div>
				</div>
			</div>
			<div class="row newsletter_row">
				<div class="col-lg-10 offset-lg-1">
					<div class="newsletter_form_container">
						<form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-md-start align-items-center justify-content-md-between justify-content-start" id="newsletter_form">
							<input type="email" class="newsletter_input" required="required">
							<button class="newsletter_button button_fill">Rejoindre</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	{% block footer %}
		{% embed "footer.html.twig" %}{% endembed %}
	{% endblock %}
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/about.js"></script>
</body>
</html>