{% extends 'base.html.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/episodes.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/episodes_responsive.css') }}">
{% endblock %}

{% block body %}

	<!-- Home -->
	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg" data-speed="0.8"></div>
		<div class="home_container d-flex flex-column align-items-center justify-content-center">
			<div class="home_content">
				<div class="home_title"><h1>charts</h1></div>
			</div>
		</div>
	</div>

	<!-- Episodes -->
	<div class="episodes">
		<div class="container">
			<div class="row episodes_row">

				<!-- Sidebar -->
				<div class="col-lg-3">
					<div class="sidebar">

						<!-- Search -->
						<div class="sidebar_search">
							<div class="sidebar_title">{% trans %}Recherche{% endtrans %}</div>
							<form action="#" class="search_form" id="search_form">
								<input type="text" class="search_input" placeholder="Chercher une playlist" required="required">
								<button class="search_button"><img src="images/search.png" alt=""></button>
							</form>
						</div>

						<!-- Tags -->
						<div class="sidebar_tags">
							<div class="sidebar_title">Genres</div>
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li><a href="#">music</a></li>
									<li><a href="#">art</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">travel & food</a></li>
									<li><a href="#">viral</a></li>
									<li><a href="#">interview</a></li>
									<li><a href="#">social media</a></li>
									<li><a href="#">development</a></li>
									<li><a href="#">success</a></li>
									<li><a href="#">did you know?</a></li>
									<li><a href="#">live</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Episodes -->
				<div class="col-lg-9 episodes_col">

					{% for chart in charts %}
						<div class="col-lg-4">
							<div class="card">
								<a href="{{ path('show_chart', {chartSiteId: chart.chartSite.id, chartId: chart.id}) }}">
									<img class="card-img-top" src="{{ uploaded_asset(chart.imageFileName) }}" alt="Card image cap">
								</a>
								<div class="card-body">
									<div class="episode_name"><a href="{{ path('show_chart', {chartSiteId: chart.chartSite.id, chartId: chart.id}) }}">{{ chart.name }}</a></div>
									<div class="show_info d-flex flex-row align-items-start justify-content-start">
										<div class="show_fav d-flex flex-row align-items-center justify-content-start">
											<i class="fa fa-music" aria-hidden="true"></i>
											<div class="show_fav_count">{{ chart.chartSongs|length }}</div>
										</div>
										<div class="show_comments">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<div class="show_fav_icon show_info_icon"><img class="svg-heart" src="images/heart.svg" alt=""></div>
												<div class="show_fav_count">2371</div>
											</div>
										</div>

									</div>
									<div class="show_fav align-items-center justify-content-start">
										<i class="fa fa-globe" aria-hidden="true"></i>
										<div class="show-chart">
											<a href="{{ chart.url }}" target="_blank">Voir sur {{ chart.chartSite.name }}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				<div class="col-lg-12 navigation">
					{# Pagination avec mon template custom #}
					{{ knp_pagination_render(charts, 'paginator.html.twig') }}
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ asset('js/episodes.js') }}"></script>
{% endblock %}

