{% extends 'base.html.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/episode.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/episode_responsive.css') }}">
{% endblock %}

{% block body %}
	{# <div class="text-right" style="height:0"><div class="loading-gif"><img src="/images/loading.gif"></div></div> #}
	<!-- Home -->
	<div class="home">

		<!-- Loading icône -->
		{% block loadicone %}
			{% embed "load-icone.html.twig" %}{% endembed %}
		{% endblock %}
		{# Alternative Bootstrap #}
		<div class="spinner-border text-warning" id="boot-spinner" role="status">
			<div>
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		{% block flashMessage %}
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="container alert alert-{{ label }}">
						{{ message|raw }}
					</div>
				{% endfor %}
			{% endfor %}
		{% endblock %}

		{# gestion de l'affichage des icones spotify #}
		{% set spotifyPlaylist = "" %}

		{% for playlist in chart.playlists %}

			{% if playlist.StreamingSite.id == 1 %}
				{% set spotifyPlaylist = playlist %}
			{% endif %}
		{% endfor %}


		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/newsletter.jpg') }}" data-speed="0"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title"><h1>{{ chart.name }}</h1></div>
							<div class="home_subtitle text-center">{{ chart.chartSite.name }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home_player_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 offset-lg-3">

						<!-- Episode -->
						<div class="player d-flex flex-row align-items-start justify-content-start s1">
							<div class="player_content">
								<div class="show_info d-flex flex-row align-items-start justify-content-start">
									<div class="show_fav d-flex flex-row align-items-center justify-content-start">
										<div class="show_fav_icon show_info_icon"><img class="svg" src="{{ asset('images/heart.svg') }}" alt=""></div>
										<div class="show_fav_count">2371</div>
									</div>
									<div class="show_comments">
										<a href="#">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<div class="show_comments_icon show_info_icon"><img class="svg" src="{{ asset('images/speech-bubble.svg') }}" alt=""></div>
												<div class="show_comments_count">88 Commentaires</div>
											</div>
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Chart -->
	<div class="episode_container">
		<!-- Image de la Chart -->
		<div class="episode_image_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-3" id="chart-upload">
						<!-- DEBUT - Formulaire de changement de pochette de la Chart -->
						{{ form_start(chartAddImageForm) }}
						<div class="episode_image" id="get-value" >
							<img id="chart-img" src="{{ uploaded_asset(chart.imageFileName)|imagine_filter('my_thumb') }}" alt="">
							<div class="overlay">
								<div class="text">Changer la pochette</div>
							</div>
							{{ form_widget(chartAddImageForm.imageFile) }}
						</div>
					</div>
					{{ form_widget(chartAddImageForm.save, {'attr': {'class': 'comment_button button_fill'}}) }}
					{{ form_end(chartAddImageForm) }}
					<!-- FIN - Formulaire de changement de pochette de la Chart -->

					<!-- DEBUT - Formulaire chargé de la mise à jours de la Chart et des éléments liés -->
					{{ form_start(chartForm) }}
						{{ form_widget(chartForm.url, {'value': chart.url}) }}
						{{ form_widget(chartForm.save, {'attr': {'class': 'comment_button button_fill update'}, 'label': 'mettre à jour'}) }}
					{{ form_end(chartForm) }}
					<!-- FIN - Formulaire chargé de la mise à jours de la Chart et des éléments liés -->
				</div>

			</div>
		</div>
		<div class="container">
			<div class="row">

				<!-- Sidebar -->
				<div class="col-lg-3 mt-4 order-lg-1 order-1 sidebar_col">
					<div class="sidebar">

						<!-- Site et playlist -->
						<div class="sidebar_list site">
							<div class="sidebar_title">Site de la Chart</div>
							<ul>
								<li>
									<a href="{{ chart.url }}" target="_blank">{{ chart.chartSite.name }}<i class="fa fa-globe" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<div class="sidebar_list playlist">
							<div class="sidebar_title">Playlist de la Chart</div>
							<ul>
								<li>
									{% if spotifyPlaylist %}
										{% if spotifyPlaylist.url is empty or spotifyPlaylist.externalId is empty %}
											<a href="{{ path('create_playlist_s', {chart: chart.id}) }}" id="modal-spinner">Spotify<i class="fa fa-spotify" aria-hidden="true"></i></a>
										{% endif %}
										<a href="{{ spotifyPlaylist.url }}" target="_blank" id="waiting-icon-trigger" onClick="displayWaitingIcon">Spotify<i class="fa fa-spotify" aria-hidden="true"></i></a>
										<span class="mx-1">|</span>
										<a href="{{ path('create_playlist_s', {chart: chart.id}) }}" id="modal-spinner"><i class="fas fa-sync-alt"></i></a>
									{% else %}
										<a href="{{ path('create_playlist_s', {chart: chart.id}) }}" id="modal-spinner">Spotify<i class="fa fa-spotify" aria-hidden="true"></i></a>
									{% endif %}
								</li>
							</ul>
						</div>
						{#
						<!-- Categories -->
						<div class="sidebar_list uder">
							<div class="sidebar_title">Categories</div>
							<ul>
								<li><a href="#">Travel</a></li>
								<li><a href="#">Music</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Social Media</a></li>
								<li><a href="#">Art</a></li>
								<li><a href="#">Audiobooks</a></li>
								<li><a href="#">Documentaries</a></li>
							</ul>
						</div>

						<!-- Tags -->
						<div class="sidebar_tags">
							<div class="sidebar_title">Tags</div>
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li><a href="#">music</a></li>
									<li><a href="#">art</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">travel & food</a></li>
									<li><a href="#">viral</a></li>
									<li><a href="#">interview</a></li>
									<li><a href="#">social media</a></li>
									<li><a href="#">development</a></li>
									<li><a href="#">success</a></li>
									<li><a href="#">did you know?</a></li>
									<li><a href="#">live</a></li>
								</ul>
							</div>
						</div>

						<!-- Archive -->
						<div class="sidebar_archive">
							<div class="sidebar_title">Archive</div>
							<div class="dropdown">
								<ul>
									<li class="dropdown_selected d-flex flex-row align-items-center justify-content-start"><span>September 2018</span><i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
										<ul>
											<li><a href="#">August 2018</a></li>
											<li><a href="#">July 2018</a></li>
											<li><a href="#">June 2018</a></li>
											<li><a href="#">May 2018</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						#}
					</div>
				</div>

				<!-- Contenue de la Chart -->
				<div class="col-lg-9 episode_col order-lg-2 order-1">
					<div class="section_title">{% trans %}Contenue de la playlist{% endtrans %}</div>
					<table class="table table-striped" style="margin-top : 30px;">
						<thead class="table-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">{% trans %}Titre{% endtrans %}</th>
							<th scope="col">{% trans %}Artiste{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						{# Le sort() permet de trier par position #}
						{% for song in chart.chartSongs|sort((a, b) => a.position <=> b.position) %}
							{% if song.position is divisible by(2) %}
								<tr class="table-light">
							{% else %}
								<tr>

							{% endif %}
								<th scope="row">{{ song.position }}</th>
								<td>{{ song.song.name }}</td>
								<td>{{ song.song.artist.name }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

					<!-- Comments -->
					<div class="comments">
						<div class="section_title">{% trans %}Commentaires{% endtrans %}</div>
						<div class="comments_container">
							<ul>

								<!-- Comment -->
								<li class="d-flex flex-row">
									<div>
										<div class="comment_image"><img src="{{ asset('images/user_1.jpg') }}" alt=""></div>
									</div>
									<div class="comment_content">
										<div class="user_name"><a href="#">Michael Smith</a></div>
										<div class="comment_text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum malesuada tellus a pretium. Proin quam nisi, maximus in pulvinar sed, viverra vitae es.</p>
										</div>
									</div>
								</li>

								<!-- Comment -->
								<li class="d-flex flex-row">
									<div>
										<div class="comment_image"><img src="{{ asset('images/user_2.jpg') }}" alt=""></div>
									</div>
									<div class="comment_content">
										<div class="user_name"><a href="#">Christinne Doe</a></div>
										<div class="comment_text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum malesuada tellus a pretium. Proin quam nisi, maximus in pulvinar sed, viverra vitae es.</p>
										</div>
									</div>
								</li>

							</ul>
						</div>
					</div>

					<!-- Leave a Comment -->
					<div class="comment_form_container">
						<div class="section_title">{% trans %}Laisser un commentaire{% endtrans %}</div>
						<form action="#" id="comment_form" class="comment_form">
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="comment_input" placeholder="Nom" required="required">
								</div>
								<div class="col-md-6">
									<input type="email" class="comment_input" placeholder="E-mail" required="required">
								</div>
							</div>
							<div><input type="text" class="comment_input" placeholder="Sujet"></div>
							<div><textarea class="comment_input comment_textarea" placeholder="Message" required="required"></textarea></div>
							<button class="comment_button button_fill">{% trans %}Envoyer{% endtrans %}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Modal title</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body">Woohoo, you're reading this text in a modal!</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button><button type="button" class="btn btn-primary">Save changes</button></div></div></div></div>
{% endblock %}

{% block footer %}
<!-- Footer -->
	{% embed "footer.html.twig" %}{% endembed %}
{% endblock %}

{% block script %}
	<script src="{{ asset('js/episode.js') }}"></script>
{% endblock %}
