{% extends 'base.html.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">
{% endblock %}

{% block body %}
<!-- Home -->

<div class="home">
	{% block flashMessage %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
					<div class="container alert alert-{{ label }}">
						{{ message }}
					</div>
			{% endfor %}
		{% endfor %}
	{% endblock %}

	<div class="background_image parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/index.jpg') }}" data-speed="0.6"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_title text-center">
						<h1>Découvrez chart playlister</h1>
					</div>
					<div class="home_text text-center">
						<p>Création de playlists basées sur des sites de classement musicaux.</p>
					</div>
				</div>
			</div>
			<div class="row home_row">
				<div class="d-sm-flex justify-content-center">
					<div class="p-2 text-center">
						<a href="{{ path('chart_scanne') }}" class="m-1">
							<button type="submit" id="chart_form_save" name="chart_form[save]" class="home_form_button button_fill">Scanner une chart</button>
						</a>
					</div>
					<div class="p-2 text-center">
						<a href="{{ path('charts') }}" class="m-1">
							<button type="submit" id="chart_form_save" name="chart_form[save]" class="home_form_button show button_fill">Voir les playlists</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Shows -->
<div class="shows">
	<div class="container">
		<div class="row shows_row">
			<!-- Show -->
			<div class="mb-5">
				<h2>Playlists récentes </h2>
			</div>
			{% for chart in three_last_chart %}
			<div class="col-lg-4 ps-4 pe-4">
				<div class="show_chart">
					<div class="show_image">
						<a href="{{ path('show_chart', {chartSiteId: chart.chartSite.id, chartId: chart.id}) }}">
							<img src="{{ uploaded_asset(chart.imageFileName) }}" alt="https://unsplash.com/@icons8">
						</a>
						<div class="show_tags">
							<div class="tags">
								<ul class="show-chart-tag d-flex flex-row align-items-start justify-content-start">
									<li><a href="{{ chart.url }}" target="_blank">{{ chart.chartSite.name }}</a></li>
								</ul>
							</div>
						</div>

					</div>
					<div class="show_content">
						<div class="show_title">
							<a href="{{ path('show_chart', {chartSiteId: chart.chartSite.id, chartId: chart.id}) }}">{{ chart.name }}</a>
						</div>
						<div class="show_info d-flex flex-row align-items-start justify-content-start">
							<div class="show_fav d-flex flex-row align-items-center justify-content-start">
								<i class="fa fa-music" aria-hidden="true"></i>
								<div class="show_fav_count">{{ chart.chartSongs|length }}</div>
							</div>
							<div class="show_comments">
								<a href="#">
									<div class="d-flex flex-row align-items-center justify-content-start">
										<div class="show_comments_icon show_info_icon"><img class="svg" src="images/speech-bubble.svg" alt=""></div>
										<div class="show_comments_count">88 Commentaires</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="button_fill shows_button"><a href="{{ path('charts') }}">plus de playlist</a></div>
			</div>
		</div>
	</div>
</div>

<!-- Bi Weekly -->
<div class="weekly">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/weekly.jpg" data-speed="0.8"></div>
	<div class="container">
		{% if (randomChart is defined and randomChart is not null) %}
		<div class="row row-eq-height">

			<!-- Weekly Content -->
			<div class="col-lg-6">
				<div class="weekly_content d-flex flex-column align-items-start justify-content-lg-center justify-content-start">
					<div>
						<div class="weekly_title"><h1>{% trans %}Playlist au hasard{% endtrans %}</h1></div>
						<div class="weekly_text">
							<p>{% trans %}Découvrez ici à chaque visite une playlist sélectionnée au hasard parmi les playlists du site{% endtrans %}</p>
						</div>
						<div class="weekly_info">
								<a href="{{ path('show_chart', {chartSiteId: randomChart.chartSite.id, chartId: randomChart.id}) }}">
									<h2>{{ randomChart.name }}</h2>
								</a>
								<a href="{{ randomChart.url }}" target="_blank">
									<h3>{{ randomChart.chartSite.name }}</h3>
								</a>
							<!-- Weekly Image -->
							<div class="col-lg-6 d-xs-block d-md-block d-lg-none">
								<div class="weekly_image my-5">
									<a href="{{ path('show_chart', {chartSiteId: randomChart.chartSite.id, chartId: randomChart.id}) }}">
										<img src="{{ uploaded_asset(randomChart.imageFileName) }}" alt="">
									</a>
								</div>
							</div>
						</div>
						<table class="table text-light">
							<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Titre</th>
								<th scope="col">Artiste</th>
							</tr>
							</thead>
							<tbody>
							{% for key, chart_song in randomChart.chartSongs|slice(0, 3) %}
							<tr>
								<th scope="row">{{ key + 1}}</th>
								<td>{{ chart_song.song.name }}</td>
								<td>{{ chart_song.song.artist.name }}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>

							<div class="tags">
								<ul class="show-chart-tag d-flex flex-row align-items-start justify-content-start">
									<li class="align-middle"><a href="{{ path('show_chart', {chartSiteId: randomChart.chartSite.id, chartId: randomChart.id}) }}" style="font-size: 15px;">Afficher la suite</a></li>
								</ul>
							</div>

						<div class="shops d-flex flex-row align-items-start justify-content-start flex-wrap">
							<div class="button_border"><a href="#">Spotify</a></div>
							<div class="button_border"><a href="#">Deezer</a></div>
							<div class="button_border"><a href="#">Youtube</a></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Weekly Image -->
			<div class="col-lg-6 d-none d-lg-block">
				<div class="weekly_image">
					<a href="{{ path('show_chart', {chartSiteId: randomChart.chartSite.id, chartId: randomChart.id}) }}">
						<img src="{{ uploaded_asset(randomChart.imageFileName) }}" alt="">
					</a>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block script %}
{% endblock %}
